{% extends 'layouts/base.html.twig' %}

{% block title 'Changement de mot de passe' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="text-center my-5">Changement <br> de mot de passe</h1>

            {{ form_start(form) }}
                {{ form_widget(form) }}

                <button type="submit" class="btn btn-primary btn-lg btn-block">
                    Mettre à jour
                </button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
