{% extends 'layouts/base.html.twig' %}

{% block title 'Modifier l\'épingle #' ~ pin.id %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Modifier l'épingle <br> {{ pin.title }}</h1>

            {{ include('pins/_form.html.twig', {'submitButtonText': 'Update Pin'}) }}
        </div>
    </div>
{% endblock %}
