{% extends 'base.html.twig' %}

{% block title %}Edition du Pin " {{pin.title}} "{% endblock %}

{% block body %}
<h1>Edition de la pin "{{pin.title}}"</h1>

{% include "/pins/_form.html.twig" with {'submitBottomText': 'Mise à jour'} %}
    
{% endblock %}
