{% extends 'base.html.twig' %}

{% block title %}Find all the best pins on earth !{% endblock %}

{% block body %}
<h1>{{ pluralize( pins|length ,'Pin') }}</h1>
    {% for pin in pins %}
        <article>
            <a href="{{path('app_pins_show',  {'id': pin.id})}}">
                <h2>{{ pin.title }}</h2>
            </a>
            <p> {{ pin.description }} </p>
        </article>
    {% endfor %}
{% endblock %}
