<footer class="container text-center mt-5" >
  <p class="text-muted">
    <small>
      &copy; {{ 'now'|date('Y') }} &middot;
      Fait avec  <span class="text-danger"> &hearts; </span>par <a target="_blank" href="https://www.dev-web.fr">Dev-web.fr</a>
      et avec la <a target="_blank" href="https://www.youtube.com/playlist?list=PLlxQJeQRaKDRs9WlWQiXNqWU0blyaZBzo"> formation Youtube</a> des <a target="_blank" href="http://www.teachersdunet.com/">TDN</a>
    </small>
  </p>
</footer>