@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
// chargement des variables
@import './shared/_variables.scss';
// Chargement de bootstrap
@import "~bootstrap";


html, body{
    font-family: $primary-font, sans-serif;
}
.alert{
    padding: 10px;
    color: white;
    text-align: center;
    margin: 0;
    border: none;
    border-radius: 0;
    &.alert-success{
        background-color: green;
    } 
    &.alert-error{
        background-color: red;
    } 
    &.alert-info{
        background-color: blue;
    }
}

.vich-image a img{
    max-width: 350px;
    max-height: 350px;
}