{# templates/bundles/TwigBundle/Exception/error403.html.twig #}
{% extends '/layouts/base.html.twig' %}

{% block title %}Trouver les meilleures épingle du Web !!!{% endblock %}

{% block body %}
    <h1>OOPSS</h1>

    <p>
        Une erreur de code a été éffectuée
        <a href="{{ path('app_home') }}">Retour a la page d'acceuil</a>.
    </p>
{% endblock %}

